/***** BASE STYLES *****/

body {
  background-color: #E8E8E8;
  }

#vision-board {
  background-image: url("../img/background.png");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  height: 850px;
  overflow: auto;
  text-transform: uppercase;
  width: 1200px;
}

/***** BOXES *****/

.block {
  float: left;
  box-sizing: border-box;
  width: 400px;
}

.large-block{
  height: 430px;
  padding: 70px 40px;
}

.small-block {
  height: 210px;
  padding: 20px 40px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.light-bg {
  background-color: #FFFFFF;
}

.dark-bg {
  background: #3B3B3B;
  color: #FFFFFF;
  font-size: 30px;
  text-transform: uppercase;
}

/***** SPECIFIC TEXT *****/

.marker {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: normal;
}

.highlight {
  background-color: #FFF44F;
  font-size: 18px;
  padding: 5px 15px;
}

strong {
  font-size: 38px;
  line-height: 38px;
  text-transform: none;
}

.title {
  font-size: 30px;
  margin: 10px 0;
}

.top-padding {
  padding-top: 40px;
}
